*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  margin: 1.5rem 0;
  font-size: clamp(1.2rem, 5vw, 3.125rem);
  font-weight: 700;
}

.btn-primary {
  background: #ff5959;
  font-weight: 500;
  padding: 5px 10px;
  color: white;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
}

/* header-section */
.header {
  height: 17rem;
}

.header-banner {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    rgba(104, 104, 104, 0.048),
    rgba(48, 48, 48, 0.968)
  );
}

.banner-title {
  font-size: clamp(1rem, 7vw, 4.375rem);
}
.banner-description {
  color: white;
  font-size: clamp(1rem, 3vw, 1.563rem);
  padding: 1rem 0;
  font-weight: 300;
}

/* donate amount section */
.donate-amount {
  padding: 1rem 1rem;
}
.amount-title {
  text-align: center;
}
.amount-description {
  color: lightslategray;
  font-size: clamp(1rem, 3vw, 1.563rem);
  text-align: left;
  margin: 1rem 0;
  font-weight: 400;
}

.amounts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1.4rem 0;
}
.amount {
  background: rgb(237, 237, 237);
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  font-size: 1rem;
  letter-spacing: 1px;
  color: lightslategray;
  border-radius: 5px;
  font-weight: 700;
  border: 2px solid rgb(237, 237, 237);
  transition: 0.2s;
}
.other-amount {
  text-align: center;
  margin: 10px;
  font-weight: 400;
  color: rgba(160, 173, 185, 0.817);
}

.amount:hover {
  border: 2px solid #ff5959;
  color: #ff5959;
  background: #f9bfbf55;
}
.donate-amount .donate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.donate-amount hr {
  margin: 1.5rem auto;
  color: lightslategray;
}

/* donate-plan sections styles */
.donate-plan {
  margin: 0 1rem;
}
.donate-title {
  text-align: center;
}
.donate-description {
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.563rem);
  font-weight: 300;
}
.items {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin: 30px 0;
  justify-content: space-between;
}
.item {
  padding: 1rem;
  border-radius: 10px;
  margin: 15px;
}

.food {
  background: rgb(229, 239, 240);
}
.shelter {
  background: rgb(232, 221, 234);
}
.education {
  background: rgb(250, 250, 201);
}
.item img {
  width: 60px;
  height: 60px;
  margin: 15px auto;
}
.item-title {
  margin-bottom: 20px;
}
.item-description {
  color: lightslategray;
  font-size: 20px;
  font-weight: 400;
}

/* contribute section's styles */
.contribution-fast,
.contribution-last {
  margin: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}
.contributes-details {
  margin: 0.5rem;
  width: calc(100%-0.5rem);
}
.details-description {
  text-align: left;
  padding: 0.6rem 0;
  font-size: clamp(1rem, 3vw, 1.563rem);
  font-weight: 300;
}
.contributes-img {
  margin: 1rem 0.5rem;
  width: calc(100%-0.5rem);
  border-radius: 7px;
}
.contributes-details .details-btn {
  margin: 1.2rem 0;
}

/* update-sections styles */
.update {
  margin: 1rem;
}

.update-title {
  text-align: center;
  margin: 1.25rem 0;
}

.update-description {
  color: lightslategray;
  margin: 1rem 0;
  text-align: left;
  padding: 0.6rem 0;
  font-size: clamp(1rem, 3vw, 1.563rem);
  font-weight: 300;
}

.input-box {
  padding: 2rem 0.5rem;
  margin: 3.125rem 0;
  background: rgb(250, 250, 201);
  display: flex;
  align-items: center;
  width: calc(100%-0.5rem);
}
.input-box input {
  font-size: 1.25rem;
  padding: 0.75rem;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: lightgray;
}
.input-box input:focus {
  outline: none;
}
.input-box button {
  font-size: 1.25rem;
  color: white;
  font-weight: 500;
  background-color: #ff5959;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0 5px 5px 0;
}
/* footer styles */
.footer {
  margin-top: 3.125rem;
  background-color: rgb(14, 14, 14);
  padding: 3.125rem;
}
.footer-title {
  text-align: center;
  font-family: "Lobster";
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #ff5959;
}
.footer-description {
  margin: 10px 0;
  text-align: center;
  color: lightgray;
}

/* responsive styles... */
@media screen and (min-width: 992px) {
  .btn-primary {
    font-weight: 700;
    font-size: 1.87rem;
    padding: 15px 20px;
    border-radius: 8px;
  }

  /* header section */
  .header {
    background-image: url("./images/donation8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .header-banner {
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 200px 300px;
    background: linear-gradient(
      rgba(104, 104, 104, 0.048),
      rgba(0, 0, 0, 0.968)
    );
  }
  .banner-description {
    padding: 20px 100px;
  }
  .banner-btn {
    margin: 20px auto;
  }

  /* donate-amount section */
  .donate-amount {
    padding: 200px 350px;
  }

  .amount-title {
    text-align: center;
  }
  .amount-description {
    text-align: center;
    margin: 15px 10px;
  }
  .amounts {
    justify-content: space-between;
    margin: 50px 0;
  }
  .amount {
    margin: 0;
    padding: 50px 30px;
    font-size: 30px;
  }

  .amount:hover {
    border: 2px solid #ff5959;
    color: #ff5959;
    background: #f9bfbf55;
  }

  /* donate plan section */
  .donate-plan {
    margin: 0px 200px;
  }

  .donate-description {
    padding: 20px 200px;
  }
  .items {
    flex-direction: row;
    justify-content: space-between;
  }
  .item {
    padding: 50px 25px;
    margin: 15px;
  }

  .food {
    background: rgb(229, 239, 240);
  }
  .shelter {
    background: rgb(232, 221, 234);
  }
  .education {
    background: rgb(250, 250, 201);
  }
  .item img {
    width: 60px;
    height: 60px;
    margin: 15px 0;
  }
  .item-title {
    margin-bottom: 20px;
  }
  .item-description {
    color: lightslategray;
    font-size: 20px;
    font-weight: 400;
  }

  /* contribute section's styles */
  .contribution-fast {
    margin: 100px 150px;
    display: flex;
    flex-direction: row-reverse;
  }
  .contribution-last {
    margin: 100px 150px;
    display: flex;
    flex-direction: row;
  }
  .contributes-details {
    margin: 50px;
    width: 40%;
  }
  .details-description {
    text-align: left;
    font-size: 25px;
    padding: 10px 0px;
    font-weight: 300;
  }
  .contributes-img {
    width: 40%;
    border-radius: 7px;
    margin: 50px;
  }
  .contributes-details .details-btn {
    margin: 30px 0;
  }

  /* update section */
  .update {
    margin: 50px 350px;
  }

  .update-title {
    text-align: center;
    margin: 20px 0;
  }

  .update-description {
    color: lightslategray;
    font-size: 25px;
    font-weight: 400;
    margin: 10px 30px;
    text-align: center;
  }

  .input-box {
    padding: 100px 200px;
  }
  .input-box input {
    font-size: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: lightgray;
  }

  .input-box button {
    padding: 12px 40px;
  }
}
