*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-primary {
  background: #ff5959;
  font-weight: 700;
  color: white;
  font-size: 30px;
  padding: 15px 20px;
  border: 0;
  border-radius: 8px;
}

.title {
  margin: 15px 0;
  font-size: 50px;
  font-weight: 700;
}

/* header section */

.header-banner {
  color: white;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 200px 300px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(104, 104, 104, 0.048), rgba(0, 0, 0, 0.968));
}
.banner-title {
  font-size: 70px;
}
.banner-description {
  font-size: 25px;
  padding: 20px 100px;
  font-weight: 300;
}
.banner-btn {
  margin: 20px auto;
}

/* donate-amount section */
.donate-amount {
  padding: 200px 350px;
}

.amount-title {
  text-align: center;
}
.amount-description {
  text-align: center;
  color: lightslategray;
  font-size: 25px;
  margin: 15px 10px;
  font-weight: 400;
}
.amounts {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.amount {
  background: rgb(237, 237, 237);
  padding: 50px 30px;
  font-size: 30px;
  letter-spacing: 1px;
  color: lightslategray;
  border-radius: 5px;
  font-weight: 700;
  border: 2px solid rgb(237, 237, 237);
  transition: 0.2s;
}

.amount:hover {
  border: 2px solid #ff5959;
  color: #ff5959;
  background: #f9bfbf55;
}
.other-amount {
  text-align: center;
  margin: 10px;
  font-weight: 400;
  color: rgba(160, 173, 185, 0.817);
}
.donate-btn {
  margin: 40px auto;
  text-align: center;
}
.donate-amount hr {
  color: lightslategray;
}

/* donate plan section */
.donate-plan {
  margin: 0px 200px;
}
.donate-title {
  text-align: center;
  margin: 20px 0;
}
.donate-description {
  text-align: center;
  font-size: 25px;
  padding: 20px 200px;
  font-weight: 300;
}
.items {
  display: flex;
  margin: 30px 0;
  justify-content: space-between;
}
.item {
  padding: 50px 25px;
  margin: 15px;
}

.food {
  background: rgb(229, 239, 240);
}
.shelter {
  background: rgb(232, 221, 234);
}
.education {
  background: rgb(250, 250, 201);
}
.item img {
  width: 60px;
  height: 60px;
  margin: 15px 0;
}
.item-title {
  margin-bottom: 20px;
}
.item-description {
  color: lightslategray;
  font-size: 20px;
  font-weight: 400;
}

/* contribute section's styles */
.contribution {
  margin: 100px 150px;
  display: flex;
}
.contributes-details {
  margin: 50px;
  width: 40%;
}
.details-description {
  text-align: left;
  font-size: 25px;
  padding: 10px 0px;
  font-weight: 300;
}
.contributes-img {
  width: 40%;
  border-radius: 7px;
  margin: 50px;
}
.contributes-details .details-btn {
  margin: 30px 0;
}

/* update-sections styles */
.update {
  margin: 50px 350px;
}

.update-title {
  text-align: center;
  margin: 20px 0;
}

.update-description {
  color: lightslategray;
  font-size: 25px;
  font-weight: 400;
  margin: 10px 30px;
  text-align: center;
}

.input-box {
  padding: 100px 200px;
  margin: 50px 0;
  background: rgb(250, 250, 201);
  display: flex;
  align-items: center;
}
.input-box input {
  font-size: 20px;
  padding: 12px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: lightgray;
}
.input-box input:focus {
  outline: none;
}
.input-box button {
  font-size: 20px;
  color: white;
  font-weight: 500;
  background-color: #ff5959;
  padding: 12px 40px;
  border: none;
  border-radius: 0 5px 5px 0;
}

/* footer styles */
.footer {
  margin-top: 50px;
  background-color: rgb(14, 14, 14);
  padding: 60px;
}
.footer-title {
  text-align: center;
  font-family: "Lobster";
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #ff5959;
}
.footer-description {
  margin: 10px 0;
  text-align: center;
  color: lightgray;
}
